.card
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 100px ;
    
}

.icon
{
font-size: 30px;
width: fit-content;
}

.blue
{
    background-color: blue;
    color: white;
}

.red
{
    background-color: red;
    color: white;

}

.green
{
    background-color: green;
    color: white;

}

.orange
{
    background-color: orange;
    color: white;

}