<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutgap="20px" style="margin-bottom:2%;">

    <mat-card>
        <app-widget-card bg="blue" icon="dashboard" total="1200" dec="our dashboard"> </app-widget-card>
    </mat-card>

    <mat-card>
        <app-widget-card bg="orange" icon="home" total="3" dec="institution"> </app-widget-card>
    </mat-card>

    <mat-card>
        <app-widget-card bg="green"  icon="person" total="2300" dec="student"> </app-widget-card>
    </mat-card>

    <mat-card>
        <app-widget-card bg="red" icon="group" total="55" dec="employees">  </app-widget-card>
    </mat-card>

</div>




<app-widget-chart> </app-widget-chart>


<div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="20px">
    
<div fxFlex="60%"> 
   <app-widget-table> </app-widget-table>
</div>      

<div fxFlex="40%
">
    <app-widget-pie> </app-widget-pie>
</div>

</div>  